body[data-theme='dark']{
  --clr-01: rgb(58, 77, 95);
  --clr-02: rgb(61, 69, 61);
  --clr-03: rgb(34, 44, 53);
  --clr-04: rgb(0,0,0);
}

body{
  --clr-01: rgb(196, 196, 196);
  --clr-02: rgb(231, 231, 231);
  --clr-03: rgb(255, 255, 255);
  --clr-04: rgb(128, 191, 255);
  /*Note: On a créé 4 "duos de couleurs", du coup maintenant ils sont tous accesibles en changeant le chiffre dans la ligne du dessous, mais là on utilise le 3ème (--clr-03) */
  background: var(--clr-03);
}

.container {
  display: flex;
  height: 100vh;
}

#switch {
  position: -webkit-sticky;
  position: sticky;
  left:1rem;
  bottom: 1rem;
  align-self: flex-end;
  cursor: pointer;
}
